@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: hsl(212, 45%, 89%);
  box-shadow: 1px 10px 20px hsl(219, 15%, 82%);
}

main {
  max-width: 1440px;
  height: 580px;
  margin: 5px 50px 10px 50px;
  display: flex;
}

section {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  align-self: center;
  padding: 10px 0;
  font-family: "Outfit", sans-serif;
}

section h1 {
  margin: 20px 25px;
  font-size: 22px;
}

section p {
  font-weight: 400;
  font-size: 15px;
  margin: 20px 25px;
  color: hsl(220, 15%, 55%);
}

img {
  box-sizing: border-box;
  width: 280px;
  padding: 5px;
  border-radius: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    background: hsl(212, 45%, 89%);
  }
  main {
    box-shadow: none;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  section {
    padding: 15px 5px;
    height: 460px;
  }

  section h1 {
    font-size: 20px;
  }
}
