@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --clr-primary: #ff4d4d;
  --clr-secondary: #c56cf0;
  --clr-tertiary: #ffeaa7;
  --clr-quaternary: #17c0eb;
  --clr-quinary: #fd79a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  background: var(--clr);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0;
}

.logo {
  position: relative;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}

header nav {
  display: flex;
  gap: 10px;
}

header nav a {
  position: relative;
  text-decoration: none;
  padding: 12px 20px;
  color: #fff;
  font-weight: 500;
}

header nav a.active {
  background: var(--clr);
  color: #333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header nav a.active::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px var(--clr);
}

header nav a.active::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 5px 0 5px var(--clr);
}
